.task {
  background: lightgrey;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  text-align: center;
  justify-content: space-between;
  display: flex;
}
